*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  .playwrite-dk-loopet-stylish {
    font-family: "Playwrite DK Loopet", cursive;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* Shared style */
  .title-primary{
    color: rgb(255, 255, 255);
font-size: 3rem;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;


  }
  .description-primary{
    color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;

  }
  .container{
    width: 80%;
    margin: auto;
}
/* body{

background: rgb(17, 17, 17);
} */
/* header section */
.header{
    
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 200%);
}

/* nav section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58.5px;
}
.nav-ul{
    display: flex;
    gap: 47px;
    list-style: none;
    align-items: center;
    box-sizing: border-box;
    padding:4px 20px 4px 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;


}
.nav-title{
    color: rgb(230, 83, 60);
font-size: 36px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.nav-ul>li{
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.nav-btn{
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    border: none;
}
.ham-burger{
    color: white;
    display: none;
}
/* hero section */
.hero-section{
    display: flex;
    justify-content: space-between;
    
    
}
/* .hero-content{
    width: 32.5rem;
} */

.hero-title{
    color: rgb(255, 255, 255);
font-size: 4.8rem;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin-top: 96px;
width: 32.5rem;
margin-bottom: 28px;

}
.hero-description{
    width: 520px;
}

.hero-btn{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.12rem;
font-weight: 600;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
padding: 16px 40px 16px 40px;
border-radius: 42px;
border: none;
background: rgb(230, 83, 60);
margin-top: 28px;
}
.hero-btn2{
    background: none;
    box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;
margin-left: 14px;
}
.hero-small-content{
    margin-top: 32px;
    position: relative;
}
.video-tutorial{
    display: flex;
    gap: 8px;
    padding: 20px 23px;
    width: 12.75rem;
    box-sizing: border-box;
    align-items: center;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
/* transform: translateX(-113px) translateY(-183px); */
position: absolute;
top: 421px;
left: -100px;
}
.red{
    height: 40px;
    width: 40px;
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
}
.vid-title{
    color: rgb(250, 250, 249);
font-size: 1.5rem;
font-weight: 900;
line-height: 24px;
letter-spacing: 0.3px;
margin-bottom: 8px;

}
.vid-description{
    color: rgba(239, 237, 232, 0.65);
font-size: 1rem;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;

}
.free{
    padding: 17px 20px;
    width: 11.8rem;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
/* transform: translateY(-590px) translateX(230px); */
position: absolute;
top: 125px;
left: 230px;
}
.free-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 2.5rem;
font-weight: 900;
line-height: 40px;
letter-spacing: 1px;

}
.free-description{
    color: rgba(255, 255, 255, 0.65);
font-size: 0.8rem;
font-weight: 400;
line-height: 20px;
letter-spacing: 1px;
margin-top: 5px;
}
/* main */
main{
    background: rgb(17, 17, 17);
}

/* habit section */
.habit{
    padding: 100px 0px ;

}
.habit-title{
    text-align: center;
}
.habit-description{
    width: 671px;
    margin: auto;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 58px;
}

.habit-card{
    width: 250px;
    
}
.habit-card-images{
    text-align: center;
}
.habit-card-image{
    border-radius: 50%;
}
.habit-card-title{
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
margin-top: 30px;
margin-bottom: 6px;
}
.habit-card-description{
    text-align: center;
    
}
.habit-cards{
    display: flex;
    gap: 40px;
    justify-content: space-around;
}

/* run section */
.run{
    display: flex;
    gap: 250px;
    align-items: center;
    border-radius: 18px;

background: rgb(34, 34, 34);
padding: 30px 32px 29px 54px;
}
.run-description{
    margin-top: 14px;
    margin-bottom: 34px;
}
.run-img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    object-fit:none;
    object-position: 67% 25%;
    
}
/* calculator section  */
.heading-calculator{
    text-align: center;
    margin: 74px 0px 14px 0px;
}
.subtitle-calculator{
    text-align: center;
    margin-bottom: 88px;
}
.calculator{
    background: rgb(34, 34, 34);
    padding-top: 52px;
    padding-bottom: 52px;
}
.BMI-content{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.BMI-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.BMI-description{
    margin-top: 14px;
    margin-bottom: 34px;
}

table{
    border-collapse: collapse;
    margin-top: 52px;
}
td,th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 20px;
    
    
}
th{
    color: rgb(255, 255, 255);

font-size: 16px;
font-weight: 500;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
td{
    color: rgba(255, 255, 255, 0.5);

font-size: 14px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
/* form */
.BMI-calculate{
    width: 36.5rem;
}
.form-item{
    margin-bottom: 12px;
}
input,select{
    color: rgba(255, 255, 255, 0.6);
font-size: 1rem;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
padding: 12px 40px 12px 20px;
border: none;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.1);

}
#item1,#item2{
    width: 17.6rem;
}
#item3,#sex{
    width: 17.6rem;
}
#activity-factor{
    width: 36rem;
}
#item2,#sex{
    margin-left: 8px;
}

/* meet our member section */
.team{
    padding-top: 88px;
    padding-bottom: 88px;
}
.team-title{
    text-align: center;
    margin-bottom: 14px;
}
.team-description{
    text-align: center;
    margin-bottom: 58px;
}

.team-members{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    gap: 20px;
    
    
    padding: 20px;
    justify-content: space-evenly;

}
.member{
    position: relative;
    width: 23.5rem;
    height: 18.75rem;
    /* width: 375px;
    height: 272px; */
    
}
.member-img img{
    width: 23.5rem;
    height: 18.75rem;
    /* width: 375px;
    height: 272px; */
    border-radius: 18px;

background: rgba(0, 0, 0, 0.2),url(image);
}
.member-details{
    position: absolute;
    bottom: 15px;
    left: 10px;
}
.member-name{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
/* footer section */

footer{
    background: rgb(34, 34, 34);
    padding-top: 66px;
}
.footer-content{
    display: flex;
    gap: 102px;
    justify-content: space-between;
}
.fitness{
    width: 27.5rem;
}
.fitness-title{
    color: rgb(230, 83, 60);
font-size: 70px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 20px;
}
.get-title{
    color: rgb(255, 255, 255);
font-size: 2rem;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 39px;
}
.get-started li{
    list-style-type:none;
    color: rgba(255, 255, 255, 0.5);
font-size: 23px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 20px;
}
hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-top: 79px;
    
}
.copyright{
    color: rgba(255, 255, 255, 0.5);

font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
padding: 35px 0px;
}




/* media query */
@media screen and (max-width:576px){
    .container{
        width: 90%;
        margin: auto;
    }
.nav-ul{
    display: none;
}
.ham-burger{
    display: block;
}
    /* hero section */
    .hero-section{
        flex-direction: column;
        align-items: start;
        
        
    }

.hero-title{
    font-size: 3rem;
    width: 325px;
    /* margin: none; */
    margin-top: 51px;

    
}
.hero-description{
    width: 285px;
}
.hero-btn{
    width: 48%;
    margin-left: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.hero-small-content{
    margin: auto;
}
.video-tutorial{
    position: absolute;
    top: 250px;
    left: -12px;
    /* transform: translateX(-0px) translateY(-370px); */
}
.free{
    position: absolute;
    top: 47.6px;
    left: 180px;
    /* transform: translateY(-670px) translateX(190px); */
}

/* habit section */
.habit-description{
    width: 360px;
}
.habit-cards{
    flex-direction: column;
    align-items: center;
}

/* run section */
.run{
    flex-direction: column;
    gap: 31px;
    padding: 33px;
}
.run-btn{
    width: 100%;
    text-align: center;
}
.run-img{
    width: 100%;
    height: 70%;
}

/* BMI section */

.BMI-content{
    flex-direction: column;
    gap: 42px;
}
.BMI-calculate{
    width: 100%;
}
#item1,#item2{
    width: 48%;

}
#item3,#sex{
    width: 48%;
}
#activity-factor{
    width: 99%;
}
#item2,#sex{
    margin-left: 8px;
}

/* meet the team section */
.team-members{
    grid-template-columns: 1fr;

}
.member{
    width: 100%;
    margin: auto;
}
.member-img img{
    width: 100%;
}
/* footer section */
.footer-content{
    flex-direction: column;
    gap: 30px;
    
}
.fitness{
    width: 100%;
}

}


  